Package: CppMediaPlayer
Version: 1.0
Section: admin
Priority: optional
Architecture: amd64
Depends: libqt5core5a, libqt5gui5, libqt5multimedia5, libqt5widgets5
Maintainer: pdf4664 <pdf4664@outlook.com>
Description: C++ Media Player
 This is a media player written in C++.
 It uses the wonderful Qt5 toolkit.
